<!DOCTYPE html>
<html>
<head>
  <title>Midpoint Meetup</title>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js" %> <!-- Mapbox.js -->
  <%= stylesheet_link_tag("https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css") %> <!-- Leaflet.css -->
  <%= stylesheet_link_tag("https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css") %> <!-- Mapbox.css -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  
  <meta property="og:type" content="website" />
	<meta property="og:title" content="Midpoint Meetup" />
	<meta property="og:description" content="Find a mutual meet-up spot for you and your friend, halfway between your two locations using Midpoint Meetup!" />
	<meta property="og:url" content="http://www.midpointmeetup.com" />
	<meta property="og:image" content="http://www.midpointmeetup.com/imgages/og.jpg" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:creator" content="@rbnhmll">
	<meta name="twitter:title" content="Midpoint Meetup">
	<meta name="twitter:description" content="Find a mutual meet-up spot for you and your friend, halfway between your two locations using Midpoint Meetup!">
	<meta name="twitter:image:src" content="http://www.midpointmeetup.com/imgages/og.jpg">
</head>

<body>
  <div class="wrapper">
    <!-- <header>
      <nav class="nav">
        <ul class="clearfix">
          <% if user_signed_in? %>
            <li class="nav__item">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else %>
            <li class="nav__item">
            <%= link_to('Login', new_user_session_path)  %>  
            </li>
          <% end %>
        </ul>
      </nav>
    </header> -->
    <h1 class="animated bounceInDown">Let's Meet <span>Half</span>way!</h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>

  </div>

  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js" %> <!-- Leaflet.js CDN -->
  <%= javascript_include_tag "scripts" %>
</body>

</html>